$tablet-screen: 768px;
$desktop-screen: 1280px;
$brainflix-black: #323232;
$brainflix-darkblack: black;
$brainflix-white: white;
$brainflix-mercury: #E1E1E1;
$brainflix-silver: #AFAFAF;
$brainflix-avenir-font: 'Avenir';
$brainflix-blue: #0095FF;