@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/global.scss' as *;

.searchbar {
    width: 100%;
    text-align: end;
    margin-right: 1rem;

    @include mixins.tablet {
        margin-right: 0;
    }

    &__typable {
        font-family: variables.$brainflix-avenir-font, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
        padding: 0.75rem 0.75rem 0.75rem 2.5rem;
        background-color: #FAFAFA;
        border: solid 2px variables.$brainflix-mercury;
        border-radius: 6px;
        width: 19rem;
        height: 3rem;
        resize: none;
        background: url('../../assets/icons/search.svg') no-repeat scroll 10px 10px;
    
        &:active {
            border-color: variables.$brainflix-black;
        }
    
        @include mixins.tablet {
            padding: 1rem 2.5rem;
            width: 16rem;
            margin-left: 4rem;
        }

        @include mixins.desktop {
            width: 18rem;
        }
    }
}
