@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/global.scss' as *;

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem;

    @include mixins.tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5rem 2.25rem 0rem 2.25rem;
    }

    @include mixins.desktop {
        margin: 0rem 8rem;
        justify-content: space-between;
    }

    &__logo {
        width: 9rem; 
        margin: 1rem 0rem 1rem 7rem;

        @include mixins.tablet {
            margin: 1.5rem 0rem;
            width: 8.5rem;
        }

        @include mixins.desktop {
            width: 9rem;
            margin-right: 8rem;
        }
    }

    &__avatar-img {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        object-fit: cover;

        @include mixins.tablet {
            width: 3rem;
            height: 3rem;
        }
    }

    &__search {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @include mixins.tablet {
            margin: 0.5rem 0rem;
            justify-content: flex-end;
        }

        @include mixins.desktop {
            margin-left: 8.7rem;
        }
    }

    &__button {
        background: url('../../assets/icons/upload.svg') no-repeat scroll 10px 10px;
        @include mixins.uploadButton;
        align-items: center;

        @include mixins.tablet {
            display: none;
        }
    }

    &__tablet-button {
        display: none;
        background: url('../../assets/icons/upload.svg') no-repeat scroll 10px 10px;

        @include mixins.tablet {
            display: inline;
            @include mixins.uploadButton;
            margin: 1rem;
            width: 10rem;
            font-weight: 600;
        }

        @include mixins.desktop {
            margin: 1rem 2rem;
            width: 11rem;
        }
    }

    &__link {
        width: 100%;
        text-decoration: none;
    }

    &__test {
        width: 100%;
    }
}
