@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/global.scss' as *;

.video-nav {
    padding: 1.5rem 1rem;

    @include mixins.tablet {
        padding: 1.5rem 2.25rem;
    }

    &__header {
        text-transform: uppercase;
        color: variables.$brainflix-silver;
        font-weight: 600;
    }

    &__section {
        display: flex;
        align-items: center;
        margin: 0rem 0rem 1rem 0rem;
    }

    &__image {
        width: 100%;
        height: 5rem;
        border-radius: 6px;
        inline-size: 8rem;
        margin-right: 1rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        inline-size: 14rem;
        margin: 0rem 0rem 0.5rem 0rem;
        font-weight: 600;
    }

    &__channel {
        inline-size: 14rem;
        margin: 0;
    }
}