@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/global.scss' as *;

.video-nav {
    padding: 0rem 1rem;
    list-style-type: none;

    @include mixins.tablet {
        padding: 0rem 2.25rem;
    }

    @include mixins.desktop {
        padding: 0rem 0rem 0rem 2rem;
    }

    &__header {
        @include mixins.tablet {
            margin: 0rem 0rem 2rem 0rem;
        }

        @include mixins.desktop {
            margin: 2rem 0rem 1rem 0rem;
        }
    }
}
