@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/global.scss' as *;


.upload-info {

    &__header {
        margin: 1rem 0rem 0.2rem 0rem;
    }

    &__typable {
        font-family: variables.$brainflix-avenir-font, sans-serif;
        color: variables.$brainflix-darkblack;
        font-size: 1rem;
        font-weight: 500;
        font-style: normal;
        padding: 0.75rem;
        background-color: #FAFAFA;
        border: solid 2px variables.$brainflix-mercury;
        border-radius: 6px;
        width: 100%;
        height: 3rem;
        resize: none;
        margin: 0rem 0rem 1rem 0rem;
    
        &:active {
            border-color: variables.$brainflix-black;
        }

        &--video-description {
            height: 7rem;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        background: url('../../assets/icons/publish.svg') no-repeat scroll 10px 10px;
        @include mixins.uploadButton;
        align-items: center;
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0rem;
    }

    &__cancel {
        text-decoration: none;
        color: variables.$brainflix-blue;
        text-transform: uppercase;
        font-size: 0.9rem;
        margin: 2rem;
        font-weight: 600;
    }
}
